.navbar-nav { /*네비게이션 바 기본 설정*/
    width: 100%;
    text-align: center;
} 
.navbar-nav > li { /*네비게이션 바 기본 설정*/
      float: none;
      display: inline-block;
}  
a:hover { /*a태그에 마우스 올렷을때*/
	color: #bbbbbb;
	text-decoration: none;
	cursor: pointer;
}
/* 네비게이션 영역 */
.navbar-default { /* 배경 색상 */
	background-color: #28364f;
	border-color: :#000000;	
}
.navbar-default .navbar-brand { /*네비게이션 제목 색상 */
	color: #ffffff;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {/*네비게이션 제목에 마우스 올렸을때 */
	background-color: transparent;
	color: #bbbbbb;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus { /*현재 선택된 네비게이션 색상 이벤트 */
	color: white;
	background-color: #000000;
}
.navbar-default .navbar-nav > li> a:hover,
.navbar-default .navbar-nav > li> a:focus { /*네비게이션 글자에 마우스를 올렸을 때 */
	color: #bbbbbb;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus { /*드랍다운이 열렸을 때 색상 이벤트 */
	color: #000000;
	background-color: #ffffff;
	text-decoration: none;
}
.navbar-default .navbar-nav > li > a { /*네비게이션 a태그 기본색상*/
	color: white;
}


